@import '../../style/variables.scss';

.edit-profile {
  height: calc(100vh - 181px);
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.edit-profile__buttons {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: $screen-min-width-smallest) {
  .edit-profile__buttons {
    flex-direction: column;
  }
}
