.container {
  max-width: 1920px;
  margin: 0 auto;
  &__main {
    padding: 20px 10vw;
    min-height: calc(100vh - 181px);
    text-align: center;
  }
}

h1,
h2,
h3 {
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
