// main colors of the project

$white: #ffffff;
$black: #010010;
$gray: #858585;

$green: #0a3d39;
$burgundy: #621014;
$dark-burgundy: #3f0508;
$brown: #634710;
$dark-brown: #412c05;

$screen-max-width-biggest: 1440px;
$screen-max-width-big: 1280px;
$screen-max-width-medium: 1024px;
$screen-max-width-small: 768px;
$screen-max-width-smallest: 480px;

$screen-min-width-biggest: 1441px;
$screen-min-width-big: 1281px;
$screen-min-width-medium: 1025px;
$screen-min-width-small: 769px;
$screen-min-width-smallest: 481px;
