@import '../../style/variables.scss';

.welcome {
  // height: calc(100vh - 182.5px);
  // padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  text-align: left;
}

@media screen and (max-width: $screen-max-width-medium) {
  .welcome {
    height: 100%;
    padding: 3vh 2vw;
  }
}
