@import '../../style/variables.scss';
.input-header {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  max-width: 300px;
  box-sizing: border-box;
  &__field {
    width: calc(50% - 6px);
  }
  &__buttons {
    display: flex;
    width: 50%;
    text-align: center;
    button {
      margin: 3px;
      width: 40px;
      &:disabled {
        cursor: none !important;
      }
    }
  }
}

.input-header-title {
  cursor: text !important;
  margin: 1px;
  padding: 4px;
  &:hover {
    margin: 0px;
    border: 1px solid $gray;
    border-radius: 3px;
    box-shadow: 0 0 4px $gray;
  }
}
